<div class="page_container">
	<h1 class = "header">Simple TODO List</h1>
	<h6 class = "header"><%= link_to "Go to queries>>", {action: 'queries'} %></h6>
	<%= render partial: "list", collection: @lists, as: :list %>

	<div>
		<%= form_for current_user.lists.new do |f| %>
			<%= f.text_field :name, class: "input_with_border_list" %>
			<button type = "submit" class = "btn">Add TODO list</button>
		<% end %>
	</div>

</div>
